/*Type Specimen Project
    Author: Zach Marrese
    School: UW Parkside
    Class:  Art 377 Interactive Design
    Prof:   Dan Martin
    Description: This is the css file of the font showcase that correlates with the HTML file.
*/
